table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    text-align: center;
    padding: px;
    border: 1px solid grey;
    border-collapse: collapse;
    width: 250px;
    height: 20px ;
}

.ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.link {
    height: 20px ;
    width: 30px ;
    border-left: 0;
    padding-right: 4px;
}
.delete {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.table-border {
    padding: 15px;
}