table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 3px;
    border: 1px solid grey;
    border-collapse: collapse;
}

.delete {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}